# Ignore uncrustify backups
*.unc*
doc/html/*
doc/output/*
doc/tag/*
doxygen_warnings.txt
/.metadata/
.vscode/*
*.o
*.d
*.i
*.s
*.su
*.elf
*.hex
!/vendors/cypress/MTB/psoc6/psoc64tfm/COMPONENT_TFM_S_FW/tfm_s_unsigned.hex
*.bin
*.pyc
soc_info.json
.PATH_TO_AMEBA_RTOS
aws_env.sh

RemoteSystemsTempFiles/*

# Ignore top-level build dir
/build*/
build_*

# RTK
*.dep
*.ewt

# Python scripts
**/__pycache__/**

# Codepilot
.codepilot*
AGENTS.md

# Claude
.claude*
CLAUDE.md

